
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quickweight</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--===============================================================================================-->
    <link href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" type="text/css" />
    <!--===============================================================================================-->
    <link href="~/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/css/util.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/main.css" rel="stylesheet"  type="text/css"/>
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-b-160 p-t-50">
                <form class="login100-form validate-form" action="@Url.Action("Login", "Usuarios")" method="post">
                    <span class="login100-form-title p-b-43">
                        Quickweight Pesagens
                    </span>

                    <div class="wrap-input100 rs1 validate-input" data-validate="Usuário é obrigatório">
                        <input class="input100" type="text" name="username">
                        <span class="label-input100">Usuário</span>
                    </div>


                    <div class="wrap-input100 rs2 validate-input" data-validate="Senha é obrigatória">
                        <input class="input100" type="password" name="senha">
                        <span class="label-input100">Senha</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Entrar
                        </button>
                    </div>


                    <div class="text-center w-full p-t-23">
                        <a href="#" class="txt1">
                            Esqueceu a senha?
                        </a>
                    </div>

                    @if (ViewBag.Erro != null)
                    {
                        <div class="text-center w-full p-t-23">
                            <h5 class="text-danger">
                                Usuário ou Senha Inválida!
                            </h5>
                        </div>
                    }

                </form>
            </div>
        </div>
    </div>








    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/js/main.js"></script>

</body>
</html>

